
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 24px;
    letter-spacing: 0.7mm;
    line-height: 1.5;
    font-weight: 100;
    background-color: #303030;
}

.header{
    width: 100%;
    height: 40px;
}

.search{
    width:200px;
    height: 50px;
    border: 21px red;
}

.sign_in{
    width: 200px;
    height: 50px;
    border-left: 1px white;
}

.sign_up{
    width: 200px;
    height: 50px;
    border-left: 1px white;
}